@page "/"
@using m152_bildergalerie.Pocos

@inject ISnackbar Snackbar

@*Image Upload*@
<MudText Typo="Typo.h4" Class="mt-8 mb-4">File Upload</MudText>
<MudPaper @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass" Height="300px" Outlined="true" Class="@DragClass">
    @if (!Clearing)
    {
        <InputFile OnChange="OnInputFileChanged" multiple  class="absolute mud-width-full mud-height-full overflow-hidden z-2" style="opacity:0;" />
    }
    <MudText Typo="Typo.h6">Drag and drop files here or click</MudText>
    @foreach (var file in fileNames)
    {
        <MudChip Color="Color.Dark" Text="@file" />
    }
</MudPaper>
<MudToolBar DisableGutters="true" Class="gap-4">
    <MudButton OnClick="Upload" Disabled="@(!fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
    <MudButton OnClick="Clear" Disabled="@(!fileNames.Any())" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
</MudToolBar>
@if (_displayProgressBar)
{
    <object type="image/svg+xml" data="bildergalerie_loading.svg" style="width: 400px;"></object>
}

@*Bildergalerie*@
<MudText Typo="Typo.h4" Class="mt-4">Bildergalerie</MudText>
<MudText Typo="Typo.body1" Class="mb-4">Click on the image to get more information and download it in you prefered format.</MudText>
@if (ImageService.Images == null)
{
    <MudText Typo="Typo.body1">Loading Bildergalerie... (if it's taking very long, try refreshing the page)</MudText>
}
else
{
    <MudGrid>
        @foreach (Image image in ImageService.Images)
        {
            string imageUrl = $"{_imageKitBaseUrl}tr:w-600/{image.Name}";
            string imageNameForUrl = ImageService.ReplaceLastOccurrence(image.Name, ".", "-");
            <MudItem xs="4">
                <MudImage Src="@imageUrl" Fluid="true" Class="rounded-lg" @onclick="() => NavigateToImageDetailsPage(imageNameForUrl)"/>
            </MudItem>
        }
    </MudGrid>
}

@*Carousel*@
<MudText Typo="Typo.h4" Class="mt-6 mb-4">Carousel</MudText>

@if (_carouselSource?.Any() ?? false)
{
    <MudCarousel Class="mud-width-full mb-8" @ref="_carousel" ItemsSource="@_carouselSource" @bind-SelectedIndex="selectedIndex" Style="height:500px;" ShowArrows="@_arrows" ShowBullets="@_bullets" AutoCycle="@_autocycle">
    <ItemTemplate>
        <div class="d-flex justify-center" style="height: 90%">
            <MudImage Src="@context" Class="rounded-lg" />
        </div>
    </ItemTemplate>
    </MudCarousel>
}
else
{
    <MudText Typo="Typo.body1">Loading Carousel... (if it's taking very long, try refreshing the page)</MudText>
}


@*Animation*@
<MudText Typo="Typo.h4">Animation</MudText>
<MudText Typo="Typo.body1">Also plays when an image is uploaded.</MudText>
<object type="image/svg+xml" data="bildergalerie_loading.svg" style="width: 400px;"></object>
